* {
  margin:0;
}
body {
  background:#000000;
  overflow-x: hidden;
}

.sect02 {
  height: 500px;
  margin-top: 200px;
  display: flex;
  margin-bottom: 300px;
}

.link1 {
  display: inline-block;
  width: 50%;
  text-align: center;
  text-decoration: none;
}

.scrollanime {
  display: inline-block;
  position: relative;
  opacity: 0;
  transform: translateY(200px);
  -webkit-transition: all .8s;
  -moz-transition: all .8s;
  -o-transition: all .8s;
  -ms-transition: all .8s;
  transition: all.8s;
}

.downup::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: inset 0 0 20px 20px black;
  -moz-box-shadow: inset 0 0 20px 20px black;
  -webkit-box-shadow: inset 0 0 20px 20px black;
  content: "";
}

.scrollanime:hover {
  cursor: pointer;
}

.scrollanime2 {
  display: inline-block;
  position: relative;
  opacity: 0;
  transform: translateY(200px);
  -webkit-transition: all .8s;
  -moz-transition: all .8s;
  -o-transition: all .8s;
  -ms-transition: all .8s;
  transition: all.8s;
}

.scrollanime:hover {
  cursor: pointer;
}

.fade_on {
  opacity: 1;
  transform: translateY(0);
}

.pcimage {
  width: 100%;
}

.link1 p {
  color: #fff;
  opacity: .7;
}

.jump {
  color: rgb(0, 255, 18);
  text-decoration: none;
  transition: all 1s;
}

.jump:hover {
  color: rgb(157, 255, 187);
}

/* レスポンシブ */
@media screen and (max-width: 600px) {
  .sect02 {
    flex-direction: column;
    align-items: center;
  }

  .link1 {
    width: 80%;
  }
}
